<!doctype html>
<html>
<head>

    <title>FareRides</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
          integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
          crossorigin=""/>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/reset.css" rel="stylesheet">

    <link rel="stylesheet" href="css/leaflet-routing-machine.css" />

    <script src="js/leaflet.js"></script>

    <link rel="stylesheet" href="https://mapzen.com/js/mapzen.css">
    <link rel="stylesheet" href="https://unpkg.com/lrm-mapzen@1.1.7/dist/lrm-mapzen.css">
    <script src="https://mapzen.com/js/mapzen.min.js"></script>
    <link rel="stylesheet" href="css/leaflet.routing.mapzen.css">
    

    
    <script src="js/cogs121.js"></script>
    <script src="https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js"></script>

    <script src="js/leaflet-routing-machine.js"></script>
    <script src="js/lrm-mapzen.js"></script>
    <script src="js/price.js"></script>
    
</head>
<body>

  <div class = "topbar">
    <!-- ***************** sandwich menu ******************** -->
    <div id="mymenu" class = "sidemenu">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <form id="pref_form" action="javascript:setPrefs();">
          <div class = "side-item">How far are you willing to walk? 
          </div>
          <input type="text" name="walk_dist" value="1" required>
          <select>
            <option value="miles">miles</option>
            <option value="minutes">minutes</option>
          </select>
            <div class = "side-item">How long are you wiling to wait? (minutes)
            </div>
          <input type="text" name="wait_time" value="30" required>
          <select>
            <option value="miles">minutes</option>
            <option value="minutes">hours</option>
          </select>
          </br>
          </br>
          <input class="btn-primary btn-sm" type="submit" value="Apply Changes">
        <form>
      <div class = "side-item">--------------------------------</div>
      <div class = "side-item"><a href="#">User Settings</a></div>
    </div>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  </div>
  <!-- ************** End side bar **************** -->

  <center>
    <!--search bar-->
    <form class="form-horizontal myform" role="form">
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label">Search:</label>
            <div class="col-sm-10 my-input-box">
                <input type="text" class="form-control" id="firstname" placeholder="Address">
            </div>
        </div>
        <!--<div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">Where To Go:</label>
            <div class="col-sm-10 my-input-box">
                <input type="text" class="form-control" id="lastname" placeholder="Enter the destination">
            </div>
        </div>-->
    </form>
  
    <!--map-->
    <div class="mymap" id='map' style="width: 1200px; height: 600px;">
      
      
      <script src="https://unpkg.com/lrm-mapzen@1.1.7/dist/lrm-mapzen.js"></script>
      <script src="js/map.js"></script>
    </div>


	<!--Toggle Uber/Lyft View-->
	<div class="container">
		<button class="btn btn-default btn-lg" type="button" onclick="viewUber()">Uber</button>
		<button class="btn btn-default btn-lg" type="button" onclick="viewLyft()">Lyft</button>
	</div>
	
	<!--Refresh Button-->
	<div class="refresh">
		<button class="btn btn-default btn-lg " type="button" onclick="showMark()">Refresh</button>
	</div>

    <!--checkbox
    <div class="surge-checkbox">
        <label class="checkbox-inline">
            <input type="checkbox" id="no-surge" value="no-surge">No Surge
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="surge-1.2" value="surge-1.2">1.2
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="surge-1.5" value="surge-1.5">1.5
        </label>
    </div>-->

    <!--&lt;!&ndash;price  &ndash;&gt;-->
    <!--<div class="nav">-->
        <!--<ul class="nav nav-pills">-->
            <!--<li class="active"><a href="#uber-price">Uber</a></li>-->
            <!--<li><a href="#">Lyft</a></li>-->
        <!--</ul>-->
    <!--</div>-->

    <!--<div id="uber-price">-->
        <!--<input type="radio" name="sex" value="male">Male<br>-->
    <!--</div>-->

     <!--  <form name="price">
          <fieldset>
              <label for="uber">
                  <input name="myradio" type="radio" value="" checked="checked" onclick="radioShow();" />Uber
              </label>
              <label for="lyft">
                  <input name="myradio" type="radio" value="" onclick="radioShow();" />Lyft
              </label>
              <div id="price">
                  <div class="uber-price">
                      <label for="pool"><input name="c2" id="pool" type="radio"  value="" /><span class="price-info">$9-$11</span>POOL</label>
                      <label for="uberX"><input name="c2" id="uberX" type="radio" value="" /><span class="price-info">$15-$20</span>uberX</label>
                      <label for="uberXL"><input name="c2" id="uberXL" type="radio" value="" /><span class="price-info">$24-$32</span>uberXL</label>
                      <label for="select"><input name="c2" id="select" type="radio" value="" /><span class="price-info">$34-$44</span>SELECT</label>
                      <label for="uberBLACK"><input name="c2" id="select" type="radio" value="" /><span class="price-info">$48-$63</span>UberBLACK</label>
                      <label for="UberSUV"><input name="c2" id="uberSUV" type="radio" value="" /><span class="price-info">$64-$81</span>uberSUV</label>

                  </div>
                  <div class="lyft-price" style="display:none;">
                      <label for="line"><input name="c3" id="line" type="radio" value="" /><span class="price-info">$7-$17</span>Lyft Line</label>
                      <label for="lyft"><input name="c3" id="lyft" type="radio" value="" /><span class="price-info">$15-$20</span>Lyft</label>

                  </div>
              </div>
          </fieldset>
      </form> -->


  </center>

</body>
</html>
