.topbar {
  background-color: lightblue;
  height: 40px;
  z-index: 999999;
}

.mymap{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.myform{
    margin-top: 20px;
}
.search-item{
    font-size: 24px;
}
.my-input-box{
    width: 70%;
}

.price-info{
  padding-right: 10px;
}


.surge-checkbox{
    font-size: 16px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend .colorcircle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-top: 0px;
}

.sidemenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.side-item {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidemenu a:hover {
  color: #f1f1f1;
}

.sidemenu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidemenu {padding-top: 15px;}
  .sidemenu a {font-size: 18px;}
}

.container {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 40px;
  padding: 0px;
}
