
.mymap{
    margin-left: 500px;
}
.refresh{
    margin-left: 750px;
    margin-top: 20px;
}
.myform{
    margin-top: 20px;
}
.search-item{
    font-size: 24px;
}
.my-input-box{
    width: 70%;
}


.surge-checkbox{
    margin-left: 700px;
    margin-top: 20px;
    font-size: 16px;
}